# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\tf-finance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/workspace.xml